# Ignora a pasta do ambiente virtual
normalizacao/

# Ignora a pasta do código base do Opentrons
opentrons_base/

# Ignora arquivos de cache e metadados
__pycache__/
.DS_Store
# Ignora a pasta teste
protocolo_normalizacao/kai_testes/

# Ignora csv com dados
protocolo_normalizacao/sheet/QubitData_30-06-2025_17-29-34.csv
